<div class="footer">
  <div class="gooter">
    <div
      class="row"
      style="height: 14rem;
      justify-content: center;
      align-content: center;
      margin: 0;
      border: 1px solid;"
    >
      <div class="col-6 col1" style="text-align: center;">
        <div class="head">Follow our exciting progress and happenings!</div>
      </div>
      <div class="col-6 col2">
        <div class="head">Let’s Talk In More Detail</div>
        <button class="btn">Enquiries</button>
      </div>
    </div>

    <span class="footcopy">GWT TOWERS. ALL RIGHTS RESERVED.</span>
  </div>
</div>
