<section id="main-page4">
  <div class="container">
    <span class="span1"> Enter A World Of Elegance </span>
    <div class="img">
      <img src="assets/main-page4.png" alt="img" />
    </div>
    <span class="span2">Green World Towers</span>
    <p>
      The majestic lifestyle that thrives inside Green World Towers begins with
      the grand entry drop-off. It gets the ball moving for Green World Towers'
      out-of-this-world experience. The moment you step inside Green World
      Towers’ lavish ambiance, you will be awestruck by the sheer finesse that
      the space exudes. The lavishly appointed lobby on the ground floor makes
      for a grand entrance into the palatial residences.
    </p>
  </div>
</section>
