<section id="main-page2">
  <div class="container">
    <div class="row">
      <div class="col-6 col-head">
        <span>PAKISTAN’S TALLEST TWIN TOWERS</span>
      </div>
      <div class="col-6">
        <p>
          Green World Towers takes inspiration from the city it calls its home
          and elevates you to another plane of existence, stretching up to a
          towering 37 floors, allowing you to live amongst the clouds. Providing
          luxury that is unknown to anyone else, Green World Towers sets a
          remarkable standard; impossible to replicate – unique. We make it our
          absolute commitment to provide our residents with an ethereal journey,
          separate from anything you have ever experienced… until now; Welcome
          to Green World Towers, the tallest twin towers in the country.
        </p>
      </div>
    </div>
    <div class="img">
      <img src="assets/main-page2.png" alt="img" />
    </div>
  </div>
</section>
