#main-page2 {
  height: 100vh;
  background-color: #efefef;
  position: relative;
  // margin-top: -26px;
  padding: 10px;

  .container {
    .row {
      margin-top: 40px;

      .col-head {
        padding: 0 7rem;
        font-size: 2rem;
      }
      p {
        font-size: 15px;
      }
    }

    .img {
      text-align: center;
      margin-top: 15px;
    }
  }
}
