<section id="main-page3">
  <div class="container">
    <span class="span1"> A Life Extraordinary Begins With A Place Like No Other. </span>
    <div class="img">
      <img src="assets/main-page3.png" alt="img" />
    </div>
    <span>Green World Towers</span>
    <p>
      Upgrade your lifestyle for the better. Allow yourself to be enchanted by
      beauty. Come home to a sense of lavishness that you so well deserve.
      Featuring all of the advantages and conveniences of a serviced apartment,
      Green World Towers, rising high in Gulberg Islamabad, will pamper you with
      magnificence and sophistication; designed for individuals who believe in
      living life to the fullest. You will find that unique factor that best
      defines luxury in this paradise of beauty and comfort: the sheer excess of
      space.
    </p>
  </div>
</section>
